<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

	<head>
	
	<meta charset="utf-8" />
	<meta http-equiv="imagetoolbar" content="false" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />	
	
	<title>Alex Tebbs | Web Development | Graphic Design</title>
	
	<meta name="author" content="Alex Tebbs" />
	<meta name="DC.creator" content="Alex Tebbs" />
	<meta name="Copyright" content="Copyright Alex Tebbs 2010. All Rights Reserved." />
	
	<meta name="description" content="Hi, I'm Alex Tebbs, I'm a freelance web designer/developer based out of Spokane WA. This site contains my portfolio, contact info, and blog." />
	<meta name="DC.title" content="Alex Tebbs Graphic Design / Web Development Spokane" />
	<meta name="DC.subject" content="Graphic Design / Web Development Spokane" />
	

	<link rel="shortcut icon" href="@root_path/public/favicon.png" />
	<link rel="apple-touch-icon" href="@root_path/public/apple-touch-icon.png" />
	<link rel="image_src" href="@root_path/public/share-icon.png" /> 
	
	<link rel="stylesheet" href="@root_path/public/css/main.css" media="all" />
	
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-25724562-1']);
		_gaq.push(['_setDomainName', '.alextebbs.com']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
