	<header id="at">
		<a href="#" id="home">
			<script type="text/javascript" charset="utf-8"> 
			$(document).ready(function(){
				showImage();
			});	
			</script>
		</a>
	</header>
	
	:navigation

	<section id="about"  class="simple">
    <p> I'm Alex. I'm a young graphic designer who is going to take over the world. You can help me out by hiring me but that does not guarantee your safety or freedom when I am king.</p>
	
	<p>Thankfully for you, domination is on the backburner while I excercise my passion for design and development.  Please take the time to check out my portfolio, read my resume, and peruse my blog. I prefer to show, not tell.</p>
	
	<img src="@root_path/public/img/itsame.jpg" />
	
    </section>
	
	<section id="contact"  class="simple">
    <p>Feel free to email me at <a href="mailto:alex@alextebbs.com">alex@alextebbs.com</a> for any reason at all. If you're feeling a little more intimate, you can leave me a voicemail simply by dialing 360.818.4000. If you're looking to follow me on Twitter or something like that, I'm honored but I am actually <i>too hip</i> for Twitter. If you want to stay up to date with me, check out my <a href="http://blog.alextebbs.com">blog</a>.</p>

<pre>
<span class="selector">#tebbs #alex</span> <span class="bracket">{</span>
  <span class="prop">email</span>: <span class="val"><a href="mailto:alex@alextebbs.com">alex@alextebbs.com</a></span>;
  <span class="prop">blog</span>: <span class="val"><a href="http://blog.alextebbs.com">blog.alextebbs.com</a></span>;
  <span class="prop">voicemail</span>: <span class="val">360.818.4000</span>;
  <span class="prop">github</span>: <span class="val"><a href="https://github.com/brodiac">github.com/brodiac</a></span>;
  <span class="prop">forrst</span>: <span class="val"><a href="http://forrst.com/people/Alex_Tebbs">forrst.com/people/Alex_Tebbs</a></span>;
<span class="bracket">}</span>
</pre>

<!--<ul>
		<li>Email \\\\\\  <a href="mailto:alex@alextebbs.com">alex@alextebbs.com</a> </li>
		<li>Blog \\\\\\\  <a href="http://blog.alextebbs.com">blog.alextebbs.com</a> </li>
		<li>Voicemail \\  360.818.4000 </li>
	</ul>-->
    </section>
