    <nav>
        <ul>
            <li><a href="#" class="about" 
                onMouseOver="swap('.1');"
                onMouseOut="wipe('.1');">ABOUT ME</a></li>
            <li><a href="http://blog.alextebbs.com" 
                onMouseOver="swap('.2');"
                onMouseOut="wipe('.2');">MY BLOG</a></li>
            <li><a href="#" class="portfolio" 
                onMouseOver="swap('.3');"
                onMouseOut="wipe('.3');">MY WORK</a></li>
            <li><a href="#" class='contact'
                onMouseOver="swap('.4');"
                onMouseOut="wipe('.4');">CONTACT ME</a></li>
        </ul>

        <ul id="two">
            <li><a href="./?/development/northnitch/" class="webdesign"
                onMouseOver="swap('.5');"
                onMouseOut="wipe('.5');">WEB DEVELOPMENT</a></li>
            <li><a href="./?/design/print/" class="graphicdesign"
                onMouseOver="swap('.6');"
                onMouseOut="wipe('.6');">GRAPHIC DESIGN</a></li>
            <li><a href="./?/resume/" class="resume" 
                onMouseOver="swap('.7');"
                onMouseOut="wipe('.7');">RESUME</a></li>
        </ul>
    </nav>
	
