/* PAGE SETUP AND SOME DEFAULTS ------------------------------------------------ */

html {
    height: 100%;
    width: 100%;
    background-color: transparent;
    overflow-y: none; }

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 20px;
    -webkit-font-smoothing: subpixel-antialiased;
    background: #1e1e1e;
    background-attachment: fixed;
    height: 100%;
    width: 100%; }

a img { border: none }

a { outline: none }

#spacer {
    height: 200px;
    display: block;
    width: 100%; }

header {
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 0px; }

#frontpage {
    width: 450px;
    margin: 5px auto 0 auto; }

/* TIPS ------------------------------------------------ */

#tips {
    display: block;
    position: relative;
    height: 30px;
    width: 450px;
    margin: 30px auto 0 auto; }

#tips li {
    text-align: left;
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 40px;
    color: #aaa;
    text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 5px;
    position: absolute;
    top: 0;
    left: -1477px;
    letter-spacing: 0px;
    list-style-type: none;
    display: none; }

#tips li.select {
    display: inline-block;
    z-index: 9999; }

/* NAV ------------------------------------------------ */

nav {
    text-align: left;
    margin-bottom: 40px;
    width: 450px;
    margin: 0px auto;
    padding: 10px 0px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000; }

.ie6 nav,
.ie7 nav {
    position: relative;
    top: 0px; }

nav ul {
    width: 98%;
    margin: 0px auto;
    position: relative;
    left: 5px; }

nav ul li {
    display: inline;
    padding: 0px 3px; }

nav ul li a {
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 30px;
    color: #000;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    padding: 0px 14px 0px 0px;
    text-shadow: rgba(255, 255, 255, 0.1) 0px 0px 3px;
    padding: 0px 3px; }

nav ul#two {
    position: relative;
    left: 5px; }

nav ul#two li a { font-size: 29px; }

nav ul li a:hover {
    text-shadow: 0px 0px 5px #000;
    color: #fbfbfb;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; }

nav ul li a.selected { color: #c8c8c8 }

/* ABOUT ------------------------------------------------ */

.simple {
	display: none; }

.simple p {
    font-size: 14px;
    color: #888;
    text-shadow: #000 0px 0px 3px;
    font-family: sans-serif;
    line-height: 140%;
    text-align: justify;
    width: 415px;
    margin: 20px auto; }

.simple p a {
    color: #b7b7b7;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; }

.simple p a:hover {
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; }

.simple img {
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border: 20px solid #000;
    width: 385px; }

/* CONTACT ------------------------------------------------ */

pre {
    padding: 10px;
    background: #000;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 120%; }

pre a {
    color: #00FFFF;
    text-decoration: underline; }

pre .selector { color: #ffff00 }

pre .bracket { color: #ff00ff }

pre .prop { color: #00ff00 }

pre .val { color: #00ffff }

pre .val a {
    text-decoration: underline;
    color: #00ffff; }

pre .val a:hover { color: #fff }

/* PORTFOLIO  ------------------------------------------------ */

section#proj {
    width: 500px;
    margin: 0px auto;
    position: relative; }

div.title {
    display: block;
    width: 415px;
    height: 46px;
    margin: 20px auto; }

#proj a.proj,
section#resume a.resume {
    height: 50px;
    width: 70px; }

#proj a.next {
    background: transparent url("../img/arr.png") 0px -2px no-repeat;
    float: right;
    display: inline-block; }

#proj a.next:hover { background: transparent url("../img/arr.png") 0px -72px no-repeat }

a.top {
    float: left;
    display: inline-block;
    background: transparent url("../img/arr.png") 0px -281px no-repeat; }

a.top:hover { background: transparent url("../img/arr.png") 0px -350px no-repeat }

#proj h2 {
    display: inline-block;
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 46px;
    color: #000;
    text-transform: uppercase;
    text-shadow: rgba(255, 255, 255, 0.1) 0px 0px 3px;
    letter-spacing: 0px;
    font-weight: 400;
    float: left; }

#proj h2 a {
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 46px;
    color: #000;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-shadow: rgba(255, 255, 255, 0.1) 0px 0px 3px;
    font-weight: 400;
    display: inline-block; }

#proj h2 a:hover {
    color: #fff;
    text-shadow: 0px 0px 5px black; }

#proj img {
    width: 500px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border: 7px solid #000; }

#proj.print img {
    width: 450px;
    margin-bottom: 60px;
    border: 20px solid #000; }

#proj p {
    margin: 0px auto 20px auto;
    width: 410px;
    border-bottom: 3px solid #000;
    padding: 0px 27px 15px 27px;
    font-size: 14px;
    color: #888;
    text-decoration: none;
    text-shadow: #000 0px 0px 3px;
    font-family: sans-serif;
    line-height: 140%;
    text-align: justify; }

#proj.print p {
    padding: 0px 15px 15px 15px;
    border-top: none;
    margin-bottom: 20px; }

#proj p a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 4px;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: #848484;
    text-align: center;
    margin-top: 10px;
    letter-spacing: -1px; }

#proj p a:hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    color: white; }

#proj footer {
    position: relative;
    bottom: 30px;
    height: 150px;
    width: 415px;
    margin: 0px auto;
    z-index: 99999999; }

/* RESUME ------------------------------------------------ */

#resume {
    width: 420px;
    margin: 30px auto 0px auto;
    position: relative; }

#resume h2 {
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 33px;
    color: #000;
	padding-bottom: 2px;
    text-transform: uppercase;
    text-shadow: rgba(255, 255, 255, 0.1) 0px 0px 3px;
    letter-spacing: 0px;
    font-weight: 400;
    margin: 15px 0px;
    border-bottom: 3px solid #000;
    text-align: justify; }

#resume h2 a {
    font-size: 46px;
    color: #000;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    text-shadow: rgba(255, 255, 255, 0.1) 0px 0px 3px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center; }

#resume h2 a:hover {
    color: #fff;
    text-shadow: -2px -2px 0px black,
				 -3px -3px 0px black,
				 -4px -4px 0px black;
	border-bottom: 3px solid #fff; }

#resume h3 {
    display: block;
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 22px;
    color: #000;
    text-shadow: rgba(255, 255, 255, 0.1) 0px 0px 1px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
    text-align: justify; }

#resume p {
    margin: 0px auto 20px auto;
    font-size: 15px;
    color: #888;
    text-decoration: none;
    text-shadow: #000 0px 0px 3px;
    font-family: sans-serif;
    line-height: 140%;
    text-align: justify; }

#resume p a,
#resume li a {
	color: #bbb;
	text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px, rgba(0, 0, 0, 0.9) 0px 0px 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

#resume p a:hover,
#resume li a:hover {
	color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
	text-decoration: underline;
}

#resume ul { margin-left: 20px }

#resume li {
    font-size: 15px;
    list-style-type: square;
    color: #888;
    text-decoration: none;
    text-shadow: #000 0px 0px 3px;
    font-family: sans-serif;
    text-align: justify;
    padding: 4px 0px;
    line-height: 140%; }

#resume h2#emailme {
    margin-bottom: 50px;
    margin: 0px auto;
    text-align: right;
    float: left;
    display: inline-block; }

a.resume.top {
    float: right;
    position: relative;
    left: 20px; }

#resume footer {
    position: relative;
    height: 150px;
    width: 415px;
    margin: 0px auto;
    z-index: 99999999; }

/* SELECTION STYLEZ ------------------------------------------------ */

::selection {
    text-shadow: 0px 0px 0px #000;
    color: #fff;
    background: black; }

::-moz-selection {
    text-shadow: 0px 0px 0px #000;
    color: #fff;
    background: black; }

img::selection { background: transparent }

img::-moz-selection { background: transparent }
