.container {width:830px;margin:0 auto;}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:25px;}
.span-2 {width:60px;}
.span-3 {width:95px;}
.span-4 {width:130px;}
.span-5 {width:165px;}
.span-6 {width:200px;}
.span-7 {width:235px;}
.span-8 {width:270px;}
.span-9 {width:305px;}
.span-10 {width:340px;}
.span-11 {width:375px;}
.span-12 {width:410px;}
.span-13 {width:445px;}
.span-14 {width:480px;}
.span-15 {width:515px;}
.span-16 {width:550px;}
.span-17 {width:585px;}
.span-18 {width:620px;}
.span-19 {width:655px;}
.span-20 {width:690px;}
.span-21 {width:725px;}
.span-22 {width:760px;}
.span-23 {width:795px;}
.span-24 {width:830px;margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-1, textarea.span-1 {width:13px;}
input.span-2, textarea.span-2 {width:48px;}
input.span-3, textarea.span-3 {width:83px;}
input.span-4, textarea.span-4 {width:118px;}
input.span-5, textarea.span-5 {width:153px;}
input.span-6, textarea.span-6 {width:188px;}
input.span-7, textarea.span-7 {width:223px;}
input.span-8, textarea.span-8 {width:258px;}
input.span-9, textarea.span-9 {width:293px;}
input.span-10, textarea.span-10 {width:328px;}
input.span-11, textarea.span-11 {width:363px;}
input.span-12, textarea.span-12 {width:398px;}
input.span-13, textarea.span-13 {width:433px;}
input.span-14, textarea.span-14 {width:468px;}
input.span-15, textarea.span-15 {width:503px;}
input.span-16, textarea.span-16 {width:538px;}
input.span-17, textarea.span-17 {width:573px;}
input.span-18, textarea.span-18 {width:608px;}
input.span-19, textarea.span-19 {width:643px;}
input.span-20, textarea.span-20 {width:678px;}
input.span-21, textarea.span-21 {width:713px;}
input.span-22, textarea.span-22 {width:748px;}
input.span-23, textarea.span-23 {width:783px;}
input.span-24, textarea.span-24 {width:818px;}
