:head
	
	<link rel="stylesheet" href="@root_path/public/css/scroll.css" media="all" />
 	
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js">
    </script> 
    <script>!window.jQuery && document.write(unescape('%3Cscript src="@root_path/public/js/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
	
	<script src="@root_path/public/js/proj.js"></script>
	<script src="@root_path/public/js/modernizr.js"></script>
	<script src="@root_path/public/js/tips.js"></script>

	<!-- ADD GOOGLE WEBMASTER / ANALYTICS -->

</head>

<body>
<div id="frontpage" id="top">

:tips

<div id="card">

:navandsimples

</div>
</div>

<section id="proj" class="print">
<div class="title">
@title

:next-page

</div>

@content

foreach $images do
	<img src="@url" />
endforeach

<footer>
<a class="proj top" href="#top"></a>
:next-page
</footer>

<!--<div id="topfade"></div>
<div id="bottomfade"></div>-->

</section>


<script type="text/javascript">
</script>

</body>
</html>