:head

<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js">
 -->    </script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="@root_path/public/js/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
	
	<script src="@root_path/public/js/functions.js"></script>
	<script src="@root_path/public/js/modernizr.js"></script>
	<script src="@root_path/public/js/tips.js"></script>


	<!-- ADD GOOGLE WEBMASTER / ANALYTICS -->
	
</head>

<body>

	<div id="spacer"><br /></div>

:tips

<div id="frontpage">


<div id="card">

:navandsimples

</div>
</div>

<script type="text/javascript">
        $('div#card').hide();
</script>

</body>

</html>
