:head
	
	<link rel="stylesheet" href="@root_path/public/css/scroll.css" media="all" />
 	
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js">
    </script> 
    <script>!window.jQuery && document.write(unescape('%3Cscript src="@root_path/public/js/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
	
	<script src="@root_path/public/js/proj.js"></script>
	<script src="@root_path/public/js/modernizr.js"></script>
	<script src="@root_path/public/js/tips.js"></script>

	<!-- ADD GOOGLE WEBMASTER / ANALYTICS -->

</head>

<body>
<div id="frontpage" id="top">

:tips

<div id="card">

:navandsimples

</div>
</div>

<section id="resume">
<p>Hi, my name is Alex Tebbs and this is my resume.</p>
<h2>Objective</h2> 
<section> 
<p>To obtain a position that lets me creatively utilize and combine my skills as a graphic designer and web developer.</p> 
</section> 
<h2>Highlights</h2> 
<section> 
<ul> 
<li>High level of proficiency with Adobe Illustrator CS5 and Adobe Photoshop CS5</li> 
<li>Proficiency in HTML / CSS / Javascript web design. </li> 
<li>Experience communicating with clients effectively to realize their goals in design. </li> 
</ul> 
</section> 
<h2>Computer Experience</h2> 
<section> 

<ul> 
<li>Abode Illustrator 3+ years of experience</li> 
<li>Adobe Photoshop 2.5+ years of experience</li> 
<li>Adobe InDesign 1.5+ years of experience</li> 
<li>HTML5/CSS3 2.5+ years of experience</li> 
<li>Javascript/jQuery 1+ years of experience</li> 
<li><a href="http://github.com/brodiac">DVCS Version Control (Git/Mercurial) 1 year of experience</a></li> 
</ul> 

</section> 
<h2>Work Experience</h2> 
<section> 
<p>Some of the projects I have worked on are listed below. </p> 

<h3>October 2010 - Present |
Signature Genomics</h3> 
<p>I currently work as a graphic designer at Signature Genomic Laboratories
 in Spokane, WA. Signature Genomics is a genetics testing company specializing in microarray testing. My duties here include designing and branding new collateral, as well as updating the markup and visual design of Signature Genomics' website and proprietary web application: Genoglyphix. </p> 
 
<h3>February 2011 |
Northnitch Studios</h3> 
<p>I designed a modern and standards-compliant <a href="http://www.northnitch.com">website</a> for Spokane-based Software Development firm Northnitch Studios.</p> 
 
<h3>August 2010 |
David Miller</h3> 
<p>I designed, created, and deployed a <a href="http://www.dwmiller.net">portfolio website</a> for local artist David Miller, starting with only a collection of images and text descriptions. </p> 
 
<h3>March 2010 |
Hug Fest International</h3> 
<p>Logo Design for Hug Fest International, a festival promoting the importance of positive human contact.</p> 

<h3>October 2009 |
Pacific Wall and Foam</h3> 
<p>Logo design for Whidbey Island based construction company, Pacific Wall and Foam. This project
contrasts with my others because of it's very simple and corporate design.</p> 

<h3>May 2009 |
Northwest Museum of Arts and Culture</h3> 
<p>As a volunteer, I created an illustration to be cut out of vinyl and used in the exhibit: Out of This World: Extraordinary Costumes from Film and Television.</p> 
 
<h3>January 2009  |
Spokane Film Festival</h3> 
<p>As a volunteer, I did the layout design on the brochure for the 2009 Spokane Film Festival. I also submitted a possible cover illustration.</p> 
</section> 



<footer>
<p> Email me: </p> 

<h2 id="emailme"><a href="mailto:alex@alextebbs.com">alex@alextebbs.com</a></h2> 

<a class="resume top" href="#top"></a>
</footer>

<!--<div id="topfade"></div>
<div id="bottomfade"></div>-->

</section>


<script type="text/javascript">
</script>

</body>
</html>
